
    <!--<button # = quizButton (click) = "ngAfterViewInit()">Take Fitness Test</button>-->
    <!--<button id = "startQuiz" routerLink = "/fitnessTest">Take Fitness Test</button>-->
    
    <div>
        <p id = "exerciseMessage"> The next exercise is push ups!</p>
        <p> Get Ready</p>
        <!-- id = "startExercise"-->
        <button (click) = startTimer()>Go!</button>
        <button (click) = pauseTimer()>Pause</button>

        <p id = "afterExerciseMessage"> How many push ups did you do?</p>
        <form>
            <input type = "radio"><label>10-20</label><br>
            <input type = "radio"><label>20-40</label><br>
            <input type = "radio"><label>Greater than 40</label><br>
            <!--<button (click) = ngAfterViewInit() id = "nextButton">Next Exercise</button>-->
            <button id = "nextButton" routerLink = "/fitnessTestPage4">Next Exercise</button>
            <p>{{timeLeft}} Seconds Left....</p> 
        </form>
        </div>