
    <!--<button # = quizButton (click) = "ngAfterViewInit()">Take Fitness Test</button>-->
    <!--<button id = "startQuiz" routerLink = "/fitnessTest">Take Fitness Test</button>-->
    
<div>
<p id = "exerciseMessage"> The first exercise is squats!</p>
<p> Get Ready</p>
<!-- id = "startExercise"-->

<button (click) = "startTimer()">Go!</button>&nbsp;
<button (click)="pauseTimer()">Pause</button>
<p id = "afterExerciseMessage"> How many squats did you do?</p>
<form>
    <input type = "radio" (click) = "addPoints(10)"><label>10-20</label><br>
    <input type = "radio" (click) = "addPoints(20)"><label>20-40</label><br>
    <input type = "radio" (click) = "addPoints(40)"><label>Greater than 40</label><br>
    <button id = "nextPage" routerLink = "/fitnessTestPage2">Next Exercise</button>

    <p>{{timeLeft}} Seconds Left....</p> 
    <!--<button (click) = ngAfterViewInit() id = "nextButton">Next Exercise</button>-->
</form>
</div>